BASE_URL=https://opensource-demo.orangehrmlive.com
E2E_USERNAME= Admin
E2E_PASSWORD= admin123
E2E_LEAVE_TYPE=US - Vacation
PW_HEADLESS=false
PW_WORKERS=1
PW_FULLY_PARALLEL=false
PW_RETRIES=0
PW_RETAIN_TRACE=false
